* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ball {
  left: 702px;
    top: 375px;
  width: 250px;
  height: 250px;
  background: linear-gradient(158.63deg,#A7B9F9 -5.25%,#BDBBFA 28.3%,#FDCECE 108.22%);
  filter: blur(35px);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%,-50%);
  z-index: -3;
  overflow: hidden;
  opacity: 1;
  transition: all 4s ease-in-out;
  align-items: center;
  justify-content: center;
}

.call-to-action-btn {
  cursor: pointer;
  transition: all 0.2s;
}

.focus {
  color: black;
  background-color: black;
  transition: all 0.2s;
}

@font-face {
  font-family: 'Chillax-Variable';
  src: url('./fonts/Chillax-Variable.woff2') format('woff2'),
       url('./fonts/Chillax-Variable.woff') format('woff'),
       url('./fonts/Chillax-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Light';
  src: url('./fonts/Chillax-Light.woff2') format('woff2'),
       url('./fonts/Chillax-Light.woff') format('woff'),
       url('./fonts/Chillax-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Regular';
  src: url('./fonts/Chillax-Regular.woff2') format('woff2'),
       url('./fonts/Chillax-Regular.woff') format('woff'),
       url('./fonts/Chillax-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Medium';
  src: url('./fonts/Chillax-Medium.woff2') format('woff2'),
       url('./fonts/Chillax-Medium.woff') format('woff'),
       url('./fonts/Chillax-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Semibold';
  src: url('./fonts/Chillax-Semibold.woff2') format('woff2'),
       url('./fonts/Chillax-Semibold.woff') format('woff'),
       url('./fonts/Chillax-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Bold';
  src: url('./fonts/Chillax-Bold.woff2') format('woff2'),
       url('./fonts/Chillax-Bold.woff') format('woff'),
       url('./fonts/Chillax-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

html {
    scroll-behavior: smooth;
    
}


h1{
    font-family: 'Chillax-Light';
    color:black
}

h2,h3 {
  font-family: 'Chillax-Semibold';
    color:black;
    margin-bottom: 10px;
}

p {
  font-family: 'Chillax-Light';
  color:black;
  font-size: 20px;
}

/* .hero {
animation: change-color 8s cubic-bezier(1,0,0,1) infinite;
}


@keyframes change-color {
    from {
      background:linear-gradient(329deg, rgba(96,154,222,0.5704875700280112) 33%, rgba(219,111,100,0.5984987745098039) 100%);
      border-radius: 10px; ;
    }
    to {
      background: linear-gradient(329deg, rgba(222, 109, 96, 0.57) 33%, rgba(238, 174, 77, 0.598) 100%);
border-radius: 10px;
    }
} */

li a {
  position: relative;
}

li a::after {
  content: '';
  display: block;
  margin: left;
  background-color: #e835eb;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

li a:hover::after {
  width: 100%;
}

.hero {
  height: 100vh;
}

.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  border: 1px solid black;
  border-radius: 21px;
  background: transparent;
  padding: 1px 24px;
  font-family: 'Chillax-Regular';
  font-size: 1rem;
  display: inline-block;
  align-items: center;
}

.tags-group {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
  align-items: center;
}



.icons {
  display: flex;
  justify-content: space-evenly;
}

.edu {
  padding-bottom: 70px;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #a7a7a7;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .overlay a {
    font-size: 60px;
    padding: 10px;
  }

  .exp-boxes {
    border-radius: 10px;
    border: solid 1px #d7d7d7;
    background-color: #f8f8f8;
  }

  .btn-cv {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 0 30px;
    font-weight: 700;
    letter-spacing: 2px;
  }

 
  .btn-cv a {
    color:#fff;
    
  }

  .underline-wavy {
    text-decoration: underline wavy rgb(235,127,237);
  }


  